// Bacground

$mainWindow-bg: #fff;

$footerBg: #16133D;
$linkBg: #efeef3;
// Border   

$borderHeader: 1px solid #EFEEF3;
$cardBorderStyle: 1px solid #E5EAF4;
$cardBorderRad: 8px;

$cardBorderHover: #3DB370;

//Padding & Margin

$mainPadding: 7% 10.7066%;
$mainPaddingSubtitle: 1.606%;
$mainPaddingTitle: 4.283%;



$cardIconMargin: 4.283%;
$cardNameMargin: 1.606%;
$cardContextMargin: 3.212%;

$cardPadding: 3.212%;


$footerLogoMargin: 40px;


//Font Style

$mainTextStyleSubtitle: 400 16px/21px'Roboto',sans-serif;
$mainTextColorSubtitle: #7690A8;

$mainTextStyleTitle: 600 40px/52px 'Nunito+Sans',sans-serif;
$mainTextColorTitle: #16133D;

$linkStyle: 600 16px/19px 'Roboto', sans-serif;
$linkColor: #3DB370;

